@import url('https://fonts.cdnfonts.com/css/good-daddy');
@import url('https://fonts.cdnfonts.com/css/poppins');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/* NAV */
.navdot {
  position: fixed;
  top: 10%;
  left: 5%;
}

.nav {
  display: flex;
  flex-direction: column;
}

.oy {
  color: white;
  width: 2rem;
  height: 2rem;
}

.nav a:hover {
  scale: 1.5;
}

/* NAV */

/* HEADER */
.header {
  background-color: mediumaquamarine;
  min-height: 100vh;
}

.greetings {
  padding: 2% 15%;
  text-align: center;
  font-family: 'GOOD DADDY', sans-serif;
}

.greetings h1 {
  color: white;
  font-size: 65px;
  letter-spacing: 2px;
}

.greetings h3 {
  font-size: 35px;
  color: lightgoldenrodyellow;
}

.down {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.uy {
  width: 5pc;
  height: 5pc;
  color: white;
}

.uy:hover {
  scale: 1.1;
}

.down {
  position: relative;
  animation: arrow infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

@keyframes arrow {
  0% {
    top: 0;
  }

  100% {
    top: 20px;
  }
}

/* HEADER */


/* BIODATA */
.kenalan {
  background-color: lightblue;
  padding: 5% 0;
  display: flex;
  flex-direction: row;
}

.foto img {
  width: 100%;
  left: 0;
}

.a {
  display: flex;
  flex-direction: column;
}

.hai {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  font-family: 'GOOD DADDY', sans-serif;
  text-align: left;
  justify-content: left;
  align-items: left;
  box-sizing: border-box;
}

.hai h2 {
  font-size: 35px;
  color: dimgray;
}

.hai h1 {
  font-size: 65px;
  color: darkseagreen;
}  

.info p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: dimgray;
  text-align: center;
}

/* BIODATA */


/* HOBI */
.hobi {
  background-color: mediumaquamarine;
  text-align: center;
  padding: 15%;
  height: 100vh;
}

.hobi h1 {
  font-family: 'GOOD DADDY', sans-serif;
  font-size: 15px;
}

/* HOBI */

/* FOOTER */

.j img {
  width: 20%;
  top: 20%;
  right: 0%;
}

/* FOOTER */